.frase h2 {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 48px;
    line-height: 63px;
    color: #000000;
    position: absolute;
    width: 589px;
    height: 120px;
    left: 120px;
    top: 0px;
}

.frase h2 span {
    
    color: #000000;
}

.delivery-foto{
    width: 100%;
}

.crear-cuenta-frase{
    color: #faf5f5;
    border-bottom: 1px solid #fcfafa;
}

.login-form {
    background-color:  #04bd57;
    border-radius: 20px;
    width: 497px;
    height: 586px;
}