.custom-button {
    width: 100%;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border-radius: 20px;
    font-size: 1rem;
    color: rgb(250, 246, 246);
    background-color: #080808;
    border: 1px solid  #fdfdfd;
    box-sizing: inherit;
}

.custom-button:hover {
    background-color: #0a0909;
}

.button-container {
    padding-left: 0;
    padding-right: 0;
}