.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #04bd57;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 20px 20px 6px 16px;
    text-decoration: none;
    font-family: Noto Sans Tai Le;
    font-weight: bold;
  
    font-size: 20px;
    color: #f9fbfd ;
    display: block;
  }
  
  .sidenav a:hover {
    color: #000000;
  }
  
  .main {
    margin-left: 260px; /* Same as the width of the sidenav */
    margin-right:20px; 
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  .titulo {
    font-family:Noto Sans;
    color:#070707;
    font-weight: bolder;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.08), 0 0 0 2px white,
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  }
  
  .parrafo{
    font-family: Noto Sans Tai Le;
    color:#fcf8f8 ;
    font-weight: bold;
  
  }
  
  .parrafo2{
    font-family: Noto Sans Tai Le;
    color:#f6f7fa;
    font-weight: bold;
  
  }.b {

    /* Iniciar Sesion */
    
    
    left: 1283px;
    top: 62px;
    margin-right: 141px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    text-align: center;
    
    color: #0a0a0a;
    
    }
  .btn-buscar {
    color: #0a0a0a;
    border-color: #fdfdfd;
    background-color: transparent !important;
}
.h1 {
  font-family: '';
  font-weight: 400;
  font-size: 80px;
  line-height: 63px;
  color: #faf9f9;
 width: 589px;
    height: 120px;
    left: 120px;
    top: 0px;
}
